body  {
  padding-top: 70px; /*required for bootstrap fixed-to-top navbar*/*/
  background-color: #fcfcfc;
  font-family: 'Source Code Pro', sans-serif;
}

.navbar{
  background-color: #5a544f;
  /*padding-bottom: 1rem;*/
}

#app-name {
  color: #fdfdfd;
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
}

#primary-container  {
  margin-top: 0px;
}

/*Modal Inputs*/
.input-group{

padding-bottom: 1em;

}

/*Always make the remove cirlce RED*/
.glyphicon-remove-circle{
  color:#ff1a1a;
}
/*Always make the ok circle GREEN */
.glyphicon-ok-circle{
  color:#2eb82e;
}
