body  {
  padding-top: 70px; /*required for bootstrap fixed-to-top navbar*/*/
  background-color: #fcfcfc;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #5a544f;
  /*padding-bottom: 1rem;*/
}

#app-name {
  color: #fdfdfd;
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
}

#primary-container  {
  margin-top: 0px;
}

.col-md-3 {
  border-left: 1px solid #5a544f;
}

.calendar-nav {
  list-style: none;
  padding-left: 0px;
}

.calendar-nav li  {
  display: inline;
  margin-right: 1em;
}
.tile-display{
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}
.tile-rows{
    border-left: 3px solid #5a544f;
}
